html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    height: 100vh;            /* Ocupa toda la altura de la pantalla */
  }
  
  .row {
    width: 100%;
  }
  
  .col-md-6 {
    display: flex;
    justify-content: center;
  }

  #userForm{
    width: 100%;
  }
  